<body>
    <div id="map" style="width:500px;height:400px;"></div>

    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ef3904285da7bbb0487b4c68b7228c13"></script>

    <script>
        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
        };

        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

        // new kakao.maps.Marker({
        //     map: map,
        //     position: new kakao.maps.LatLng(33.450701, 126.570667)
        // });
        // new kakao.maps.Marker({
        //     map: map,
        //     position: new kakao.maps.LatLng(33.4517, 126.570667)
        // });

        // const list = [
        //     { lat: 33.450701, lng: 126.570667 },
        //     { lat: 33.4517, lng: 126.570667 },
        //     { lat: 33.4497, lng: 126.570667 }
        // ];
        // for (let i = 0; i < list.length; i++) {
        //     new kakao.maps.Marker({
        //         map: map,
        //         position: new kakao.maps.LatLng(list[i].lat, list[i].lng)
        //     });
        // }

        // Point 엔티티에 toString 추가, MapController.java 코드 변경
        const list = [[${ list }]];
        // JS에서 ${}는 에러로 인지함
        // ===> const list = JSON.parse(`[[${ list }]]`); - `만 적으면 문자로 인지하기 때문에 객체로 바꿔줘야함
        // ===> key는 ""로 감싸져야하기 때문에 Point 엔티티에서 수정해줘야함
        // ===> thymeleaf가 escape 처리해버려서 &quot로 출력되어 마커가 안찍힘 -> 어떻게 해결할지 아직 모름
        // 문자를 객체로 : JSON.parse() / 객체를 문자로 : JSON.stringify()
        for (let i = 0; i < list.length; i++) {
            new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(list[i].lat, list[i].lng)
            });
        }
    </script>
</body>
<!-- model에서 데이터를 받아서 쓰는거 -->